# 全局RAG配置
agent:
  # 对话配置
  max_attempts: 2
  console_debug: false
  max_ask_num: 5

  # 向量检索配置，无需配置，必须采用
  # 网络搜索配置
  network_search_enabled: true
  network_search_cnt: 10

  # 知识图谱搜索配置
  kgraph_search_enabled: true
  kgraph_search_cnt: 10

  # query强化
  # 1.意图识别(预留)  2.query优化  3.生成补充或追问问题，以完善用户输入
  query_intent_enabled: false
  query_rewrite_enabled: true
  query_refine_enabled: true

  # 召回强化
  # 1.生成子问题 2.生成多个问题 3.上位问题生成 4.假设性答案生成
  generate_sub_queries_enabled: true
  generate_multi_queries_enabled: true
  generate_superordinate_query_enabled: true
  generate_hypothetical_answer_enabled: true

  # 过滤
  # 1.压缩过滤-过滤低相关内容
  # 2.压缩过滤-基于大模型过滤低相关文档
  # 3.压缩-基于嵌入模型过滤低相关文档(2,3最多只能启动一个)
  # 4.冗余过滤-基于向量引擎
  filter_low_correction_content_enabled: true
  filter_low_correction_doc_llm_enabled: true
  filter_low_correction_doc_embeddings_enabled: true
  low_correction_threshold: 0.65
  filter_redundant_doc_embeddings_enabled: true
  redundant_threshold: 0.95

  # 排序
  sort_docs_cross_encoder_enabled: true
  sort_docs_by_loss_of_location_enabled: true

#llm:
#  provider: ollama
#  api_key:
#  base_url: http://localhost:11434
#  model: qwen3:4b
#  temperature: 0.1
#  max_tokens: 2048


llm:
  provider: dashscope
  api_key: sk-9de21cd0776947ec9ef2396f7110cb6d
  base_url: https://dashscope.aliyuncs.com/compatible-mode/v1
  model: qwen-plus
  temperature: 0.3
  max_tokens: 2048

#embeddings:
#  provider: ollama
#  base_url: http://localhost:11434
#  model: bge-m3
#  dimension: 1024   # bge-m3 固定 1024
#  normalize: true   # 强烈建议

embedding:
  provider: dashscope
  model: text-embedding-v2
  api_key: sk-9de21cd0776947ec9ef2396f7110cb6d
  base_url: https://dashscope.aliyuncs.com/api/v1/services/embeddings/text-embedding/text-embedding
  dimension: 1536

#reranker:
#  provider: ollama
#  model: dengcao/bge-reranker-v2-m3  # Ollama registry 可拉取的 reranker 模型
#  api_key: ""                        # Ollama 本地默认可以为空，如果使用云服务可填
#  base_url: "http://localhost:11434" # Ollama 本地服务默认端口

reranker:
  provider: dashscope
  model: text-reranker-v2
  api_key: sk-9de21cd0776947ec9ef2396f7110cb6d
  base_url: https://dashscope.aliyuncs.com/api/v1/services/rerankers/text-reranker/text-reranker

dialogue:
  estimate_token_fun: avg
  llm_max_token: 1024
  max_token_threshold: 1.01
  cut_dialogue_scale: 2
  smith_debug: false
  console_debug: true
  thinking_in_context: false
  cache_time: 60
  summary_max_length: 500
  summary_max_cache_count: 3


