# 全局RAG配置
agent:
  # 对话配置
  max_attempts: 2
  console_debug: false
  max_ask_num: 5
  # 向量检索配置，无需配置，必须采用
  # 网络搜索配置
  network_search_enabled: false
  network_search_cnt: 10
  # 知识图谱搜索配置
  kgraph_search_enabled: false
  kgraph_search_cnt: 10

llm:
  provider: dashscope
  api_key: sk-9de21cd0776947ec9ef2396f7110cb6d
  base_url: https://dashscope.aliyuncs.com/compatible-mode/v1
  model: qwen-plus
  temperature: 0.3
  max_tokens: 2048

multi_dialogue_rag:
  estimate_token_fun: avg
  llm_max_token: 1024
  max_token_threshold: 1.01
  cut_dialogue_scale: 2
  smith_debug: false
  console_debug: true
  thinking_in_context: false
  cache_time: 60
  summary_max_length: 500
  summary_max_cache_count: 3
